POSTGRES_HOST=
POSTGRES_PORT=
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=

# 상담 챗봇 (ParadeDB)
CHATBOT_POSTGRES_HOST=
CHATBOT_POSTGRES_PORT=
CHATBOT_POSTGRES_DB=
CHATBOT_POSTGRES_USER=
CHATBOT_POSTGRES_PASSWORD=

OPENAI_API_KEY=
JWT_SECRET=

ELASTICSEARCH_URI=http://localhost:9200
ELASTICSEARCH_USERNAME=
ELASTICSEARCH_PASSWORD=

KAKAO_CLIENT_ID=
KAKAO_CLIENT_SECRET=

MAIL_USERNAME=
MAIL_PASSWORD=

AI_API_BASE_URL=http://localhost:8000